body {
  background-color: #0f172a;
}

.head {
  background-color: #000000;
  color: white;
  position: relative;
  left: 45%;
  margin: 10px 0px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  width: 140px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}
.imp{
  background-color: #ff0000;
  color: white;
  position: relative;
  left: 75%;
  top: -50px;
  margin: 10px 0px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  width: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.622);
  transition: 0.2s;
}
.imp:hover{
  background-color: #9d0b0b;
}
.pic {
  height: 920px;
  width: 720px;
  margin: 5px;
  border-radius: 15px;
  position: relative;
  left: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.pic1 {
  height: 0px;
  width: 0px;
}

.downloadButton {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  position: relative;
  left: 20px;
  transition: 0.1s;
}

#downloadButton:hover {
  background-color: #636363;
}

@media only screen and (max-width: 576px) {
  body {
    background-color: #0f172a;
  }

  .head {
    background-color: #000000;
    color: white;
    position: relative;
    left: 30%;
    margin: 10px 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    width: 140px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    
  }
  .imp{
    left: 85%;
  top: -50px;
  }

  .pic {
    height: 460px;
    width: 345px;
    margin: 5px;
    border-radius: 15px;
    position: relative;
    left: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  .pic1 {
    height: 0px;
    width: 0px;
  }

  #downloadButton {
    padding: 8px 12px;
    background-color: #d4d4d4;
    color: #161737;
    border: none;
    border-radius: 15px;
    position: relative;
    left: 20px;
    transition: 0.1s;
  }
}